[submodule "qemu"]
	path = qemu
	url = git@github.com:HuangBorong/qemu.git
[submodule "opensbi"]
	path = opensbi
	url = git@github.com:HuangBorong/opensbi.git
[submodule "optee_os"]
	path = optee_os
	url = git@github.com:HuangBorong/optee_os.git
